.menu-button {
    -fx-background-color: #1565C0;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-pref-width: 180;
    -fx-pref-height: 40;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.menu-button:hover {
    -fx-background-color: #76D7C4;
    -fx-text-fill: #2C3E50;
}
